.input {
  padding: 12px 12px;
  outline: none;
  font-family: 'Nunito Sans';
  border: none;
  background: #F9F9F9;
  border-radius: 8px;
  line-height: 125%;
  display: flex;
  align-items: center;
}