.Selected-app-block {
    display: flex;
    align-items: center;
    gap: 12px;
}

.datePickers-block {
    display: flex;
    gap: 12px;
    text-overflow: ellipsis;
    margin-top: 24px;
    margin-bottom: 54px;
}

.select-container {
    width: 294px;
}


.images-remove{
    cursor: pointer;
}

