.fio-container{
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.data-container{
    display: flex;
    align-items: center;
    gap: 12px;
}