.fio-container {
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.data-container {
  max-width: 640px;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 14px;
}

.collapse__title-block {
  color: #000;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 28px;
  margin-top: 60px;
}

.input2 {
  width: 294px;
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: var(--neutral-100, #f9f9f9);
  border: none;
  outline: none;
  font-family: Nunito Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
}

.Contact-Addteacher {
  margin-top: 60px;
}

.Add-block {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 32px;
}

.Multi-input-container {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.class-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 100%;
  h4 {
    color: var(--bw-900-b, #000);
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }

  select {
    outline: none;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    background: var(--neutral-100, #f9f9f9);
    border: none;
    color: var(--neutral-400, #5c5c5c);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
  }
}

.ranks-container {
  margin-top: 30px;
  h4 {
    color: var(--bw-900-b, #000);
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 12px;
  }
}

.required-field {
  border-color: red;
}

.red-span {
  color: var(--bw-900-b, #000);
  font-family: Nunito Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.work-experience-container {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.place-container {
  margin-top: 12px;
}

.place-title-head {
  color: #000;
  font-family: Nunito Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.place-container-block {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.merit-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  .merit-block{
    display: flex;
     gap: 12px;
  }
}

.probation-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 28px;

  .probation-block{
    display: flex;
    align-items: center;
  }
}
