.contact__title {
    color: #000;
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 24px;
}

.contact__container{
    max-width: 640px;
    overflow: hidden;

    .contact__input-block{
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
    }
}