.navbarContainer {
  background-color: black;
  display: flex;
  width: 252px;
  height: 100vh;
  padding: 24px 0px 28px 0px;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

.sidebarContainer {
  .sidebarContainer-link {
    text-decoration: none;
    display: flex;
    padding: 12px 24px;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    align-self: stretch;
    color: var(--neutral-300, #b7b7b7);
    font-family: Nunito Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;

    &:hover {
      color: white;

      svg {
        path {
          stroke: white;
        }
      }
    }
  }
  .active-sidebarContainer-link {
    color: white;
    svg {
      path {
        stroke: white;
      }
    }
  }
}

.navbarLogo {
  display: flex;
  padding: 0px 32px 44px 24px;
  align-items: center;
  gap: 12px;
  align-self: stretch;
}

.sidebar-info {
  margin-bottom: 40px;
  position: absolute;
  bottom: 0;
  display: flex;
  padding: 0px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;

  .sidebarInfo-link {
    text-decoration: none;
    color: var(--neutral-300, #b7b7b7);
    font-family: Nunito Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }
}

.sidebarInfo-span {
  margin-left: 22px;
  position: relative;
  color: var(--neutral-300, #b7b7b7);
  text-align: center;
  cursor: pointer;
  font-family: Nunito Sans;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 12px */
  flex-grow: 1;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal {
  position: relative;
  background-color: white;
  border-radius: 5px;
  background-color: white;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;

  h2 {
    color: var(--bw-900-b, #000);
    font-family: Nunito Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }

  p {
    color: var(--bw-900-b, #000);
    font-family: Nunito Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    h4 {
      color: var(--bw-900-b, #000);
      font-family: Nunito Sans;
      letter-spacing: 0.5px;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
      margin-bottom: 5px;
    }
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
