.TableTd {
  border-right: 1px solid var(--neutral-150, #f0f0f0);
  display: inline-flexbox;
  padding: 14px 14px 14px 14px;
  border-bottom: 1px solid var(--neutral-150, #f0f0f0);
  overflow: hidden;
  color: var(--neutral-400, #5c5c5c);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 115%;
}

.TableTh {
  border-right: 1px solid var(--neutral-150, #f0f0f0);
  background: var(--bw-900-w, #fff);
  position: sticky;
  top: 0; /* Фиксировать заголовок вверху при прокрутке */
  background-color: #ffffff; /* Задайте цвет фона заголовка */
  /* Задайте ширину каждого заголовка соответственно вашим столбцам данных */
}

.table-container {
  width: calc(100vw - 340px);
  flex-grow: 1;
  max-height: calc(100vh - 210px);
  overflow-y: auto;
  background-color: white;
  border-radius: 12px;
  border: 1px solid var(--neutral-150, #f0f0f0);
}

.container__school {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.schoolCard {
  width: 308px;
  height: 180px;
}

.schoolCard-container {
  width: 308px;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;

  .schoolInfo-block {
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;

    .schoolInfo-title {
      color: #000;
      font-family: Nunito Sans;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 100%;
    }

    .schoolInfo-title-span {
      width: 308px;
      color: var(--neutral-400, #5c5c5c);
      font-family: Nunito Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 125%;
    }

    .schoolInfo-teacherBlock {
      display: flex;
      gap: 8px;

      .schoolInfo-teachers {
        display: flex;
        padding: 10px;
        gap: 10px;
        align-items: center;
        border-radius: 8px;
        border: 1px solid var(--neutral-150, #f0f0f0);

        .schoolInfo__teachers-title {
          color: var(--bw-900-b, #000);
          font-family: Nunito Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
        }

        .schoolInfo__teachers-span {
          color: var(--neutral-400, #5c5c5c);
          font-family: Nunito Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 125%;
        }
      }

      .schoolInfo-students {
        display: flex;
        padding: 10px;
        gap: 10px;
        align-items: center;
        border-radius: 8px;
        border: 1px solid var(--neutral-150, #f0f0f0);

        .schoolInfo__teachers-title {
          color: var(--bw-900-b, #000);
          font-family: Nunito Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 700;
          line-height: 100%;
        }

        .schoolInfo__teachers-span {
          color: var(--neutral-400, #5c5c5c);
          font-family: Nunito Sans;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 125%;
        }
      }
    }
    .schoolInfo__btn {
      cursor: pointer;
      text-decoration: none;
      display: flex;
      height: 48px;
      padding: 12px 20px 12px 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      border-radius: 8px;
      background: var(--primery-500, #2898ec);
      color: var(--bw-900-w, #fff);
      font-family: Nunito Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 125%;
      border: none;
    }
  }
}

.TableLink {
  display: flex;
  align-items: center;
  gap: 7px;
  text-decoration: none;
  color: var(--neutral-400, #5c5c5c);
}

.number-td {
  width: 50px;
}

.img-user-teacher {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

table {
  border-collapse: collapse;
  width: 100%;

  thead {
    position: sticky;
    top: 0; /* Фиксировать заголовок вверху при прокрутке */
    z-index: 1; /* Слой для показа над данными */
  }
}
